[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
numpy = ">=1.26.0"
discord = "*"
pybit = "*"
pycryptodome = "*"

[dev-packages]

[requires]
python_version = "3.12"
